.about {
    color: $color-3;
    .content {
        margin-top: 300px;
        text-align: justify;
    }
    .cards {
        width: 100%;
        display: inline-flex;
        margin: 10px auto;
    }
    .card {
        width: 30%;
        border: none;
        margin: auto;
        border-radius: 10px;
        padding-bottom: 3px;

        img {
            width: 33%;
            margin: auto;
        }

        p {
            font-size: 1rem;
        }
    }
    .card:hover {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        background-color: #59beda;
    }
}
