.about {
    color: $color-3;
    .content {
        margin-top: 300px;
        text-align: justify;
    }
    .cards {
        width: 100%;
        display: inline-flex;
        margin: 10px auto;
    }
    .card {
        width: 30%;
        border: none;
        margin : 0 5px 0 0px;
        border: none;

        img {
            width: 33%;
            margin: auto;
        }

        p {
            font-size: 1rem;
        }
    }
}
