.apropos {
    .data-container {
        margin-top: $margin-container;
    }
}

@media (max-width: 900px) {
    .apropos {
	padding-right: $padding-small;
        .data-container {
            margin-top: 0;
            margin-left: $margin-menu;
        }
    }
}
