.blog {
    margin-left: $margin-menu;
    .data-container {
        margin-top: $margin-container;        ;
    }
}

@media (max-width: 900px) {
    .blog {
        .data-container {
            margin-top: 0;
        }
    }
}
