.blog {
    margin-left: $margin-menu;
    .data-container {
        margin-top: $margin-container;
    }

    p {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 900px) {
    .blog {
	padding-right: $padding-small;
        .data-container {
            margin-top: 0;
        }
    }
}
