.projects {
    margin-left: $margin-menu;
    .els {
        margin-top: 300px;
        display: grid;
        grid-template-columns: repeat(4, 1fr [col-start]);/* 4 columns */
        grid-template-rows: repeat(2, 1fr [col-start]);/* 4 rows */
    }
}